body {
	font-family: Tahoma !important;
	font-size: 12px;
	background: #EEEEEE;	
}

.container {
	max-width: 960px !important;
	background: #FFFFFF;
	margin-top: 30px;	
}

.navbar {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

#content {
	margin-top: 0px !important;	
}

footer {
	margin-bottom: 20px;
	background: #EEEEEE;	
}